header {
    background-color: #183d2b;
    color: white;
    text-align: center;
    padding: 60px 20px;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.enlaces {
    display: flex;
    gap: 45px;
}

.enlaces a {
    color: white;
    text-decoration: none;
}

.enlaces a:hover {
    color: #9bd18b;
    text-decoration: none;
    transform: translateY(-4px);
    transition: 0.5s;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #10271c;

    padding: 15px 8%;

    position: sticky;
    top: 0;

    z-index: 1000;
}

.logo {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

* {
    font-family: Arial, sans-serif

}

.grid-noticias {
    width: 85%;
    max-width: 1200px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.noticia {
    background-color: white;

    border-radius: 12px;

    overflow: hidden;

    box-shadow:
        0 5px 15px rgba(0,0,0,0.1);

    transition:
        transform 0.3s;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.noticia:hover {
    transform: translateY(-8px);

    box-shadow:
        0 15px 30px rgba(0, 0, 0, 0.2);

    transition: 0.5s;
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.noticia {
    background-color: white;

    border-radius: 12px;

    overflow: hidden;

    box-shadow:
        0 5px 15px rgba(0,0,0,0.1);

    transition:transform 0.3s;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    animation: aparecer 0.8s linear;
}


.noticia img {
    width: 100%;
    height: 220px;

    object-fit: cover;

    transition: transform 0.5s;
}

.noticia:hover img {
    transform: scale(1.08);
}

@keyframes rebotarYAparecer {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    50% {
        opacity: 0.5;
        transform: translateY(-10px); /* Sube de más para el efecto rebote */
    }

    100% {
        opacity: 1;
        transform: translateY(0);    /* Se asienta en su lugar */
    }
}

.noticia{
    animation: rebotarYAparecer 0.8s ease;
}

.principal {
    width: 85%;
    max-width: 1200px;
    margin: 50px auto;

    display: grid;
    grid-template-columns: 1fr 1fr;

    background-color: #183d2b;
    color: white;
    border-radius: 15px;
    overflow: hidden;
}

.principal img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.principal-texto {
    padding: 50px;
}

.principal-texto h2 {
    font-size: 2.5rem;
    margin: 20px 0;
}

.principal a {
    text-decoration: none;
    color: wheat;
}

.principal a:hover {
    color: orange;
    display: inline-block;
    transform: scale(1.1);
    transition: 0.3s;
}